<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{round_number}}</title>
</head>

<body>
<h1>{{round_date}}, {{round_number}} lotto winner</h1>

<table>
    <tr>
        <td>Win Numbers:</td>
        {% for win_number in win_number_list %}
        <td>{{win_number}}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Bonus Number:</td>
        <td>{{bonus_number}}</td>
    </tr>
</table>
<table>
    <tr>
        <td>Winner prize:</td>
        <td>{{win_amt}}</td>
    </tr>

</table>

</body>
</html>